

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Номенклатура</th>
      <th scope="col">Данные</th>
    </tr>
  </thead>
  <tbody>
  {% for machine in filter_auth_machine.qs %}
  <tr>
      <td>Зав. № машины:</td>
      <td>{{ machine.factory_number_machine}}</td>
  </tr>
  <tr>
      <td>Модель техники:</td>
      <td>{{ machine.models_machine.name}}</td>
  </tr>
  <tr>
      <td>Модель двигателя:</td>
      <td>{{ machine.models_engine.name}}</td>
  </tr>
  <tr>
      <td>Зав. № двигателя:</td>
      <td>{{ machine.factory_number_engine}}</td>
  </tr>
  <tr>
      <td>Модель трансмиссии:</td>
      <td>{{ machine.model_transmission.name}}</td>
  </tr>
  <tr>
      <td>Зав. № трансмиссии:</td>
      <td>{{ machine.factory_number_transmission}}</td>
  </tr>
  <tr>
      <td>Модель ведущего моста:</td>
      <td>{{ machine.models_drive_axle.name}}</td>
  </tr>
  <tr>
      <td>Зав. № ведущего моста:</td>
      <td>{{ machine.factory_number_drive_axle}}</td>
  </tr>
  <tr>
      <td>Модель управляемого моста:</td>
      <td>{{ machine.models_steering_bridge.name}}</td>
  </tr>
  <tr>
      <td>Зав. № управляемого моста:</td>
      <td>{{ machine.factory_number_steering_bridge }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>