
<div class="table-responsive" style="overflow-y: hidden">
    <table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">Зав. № машины:</th>
            <th scope="col">Модель техники:</th>
            <th scope="col">Модель двигателя:</th>
            <th scope="col">Зав. № двигателя:</th>
            <th scope="col">Модель трансмиссии:</th>
            <th scope="col">Зав. № трансмиссии:</th>
            <th scope="col">Модель ведущего моста:</th>
            <th scope="col">Зав. № ведущего моста:</th>
            <th scope="col">Модель управляемого моста:</th>
            <th scope="col">Зав. № управляемого моста:</th>
        </tr>
      </thead>
      <tbody>
      {% for machine in filter_auth_machine.qs %}
      <tr>

          <td><a href="{% url 'machine_detail' machine.id %}">{{ machine.factory_number_machine}}</a></td>
          <td>
              <button type='button' class="btn" data-bs-toggle="popover" title="{{ machine.models_machine.name }}" data-bs-content="{{ machine.models_machine.description }}">
                  {{ machine.models_machine.name}}
              </button>
          </td>
          <td>
              <button type='button' class="btn" data-bs-toggle="popover" title="{{ machine.models_engine.name }}" data-bs-content="{{ machine.models_engine.description }}">
                  {{ machine.models_engine.name}}
              </button>
          </td>
          <td>
              {{ machine.factory_number_engine}}
          </td>
          <td>
              <button type='button' class="btn" data-bs-toggle="popover" title="{{ machine.model_transmission.name }}" data-bs-content="{{ machine.model_transmission.description }}">
                  {{ machine.model_transmission.name}}
              </button>
          </td>
          <td>
              {{ machine.factory_number_transmission}}
          </td>
          <td>
              <button type='button' class="btn" data-bs-toggle="popover" title="{{ machine.models_drive_axle.name }}" data-bs-content="{{ machine.models_drive_axle.description }}">
                  {{ machine.models_drive_axle.name}}
              </button>
          </td>
          <td>
              {{ machine.factory_number_drive_axle}}
          </td>
          <td>
              <button type='button' class="btn" data-bs-toggle="popover" title="{{ machine.models_steering_bridge.name }}" data-bs-content="{{ machine.models_steering_bridge.description }}">
                  {{ machine.models_steering_bridge.name}}
              </button>
          </td>
          <td>{{ machine.factory_number_steering_bridge }}</td>
      </tr>

      {% endfor %}
      </tbody>
    </table>
</div>