

<a href="{% url 'models_machine' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Модель техники</strong>
  </div>
</a>
<a href="{% url 'models_engine' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Модель двигателя</strong>
  </div>
</a>
<a href="{% url 'models_transmission' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Модель трансмиссии</strong>
  </div>
</a>
<a href="{% url 'models_driveaxle' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Модель ведущего моста</strong>
  </div>
</a>
<a href="{% url 'models_steeringbridge' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Модель управляемого моста</strong>
  </div>
</a>
<a href="{% url 'models_typemaintenance' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Вид ТО</strong>
  </div>
</a>
<a href="{% url 'models_recoverymethod' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Способ восстановления</strong>
  </div>
</a>
<a href="{% url 'models_failurenode' %}" class="list-group-item list-group-item-action py-3 lh-sm">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <strong class="mb-1">Узел отказа</strong>
  </div>
</a>